@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
//farver
$primary-red: #ab0e0e;
$secondary-red: #8b0808;
$primary-white: #f9f9f9;
$alternativ-hvid: #f5eeec;
$primary-black: #000000;

//font
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Montserrat Alternates", sans-serif;

* {
  padding: 0;
  margin: 0;
  font-family: $font-primary;
}

body {
  background-color: $primary-white;
}

.container {
  width: 90%;
  margin: 0 auto;
}
