@import "variables";

.category-grid-section {
  padding: 32px 40px;
  background-color: $primary-white;

  h2 {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 300;
    color: $primary-black;
  }
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px 20px;
}

.category-card {
  display: flex;
  justify-content: space-between;
  height: 63px;
  background-color: $primary-white;
  color: $primary-black;
  border: 1px solid #333333; //hardkodet grå farve, for at undgå opacity problemer med overlappende containers
  cursor: pointer;
  overflow: hidden;
  border-radius: 14px;
  font-size: 20px;
  font-weight: 300;
}
.category-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  background-color: $alternativ-hvid;
  color: $primary-black;
  font-weight: 300;
}

.category-name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  flex: 1; //bruger alt plads som er tilladt, så den ikke overlapper med counten
}
