@use "_variables" as *;

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px;
  background-color: $primary-red;

  .container {
    display: flex;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: $primary-white;
    font-family: $font-primary;
  }
}
